<%= form_for(@order, local: true) do |f| %>
    <% @order.errors.full_messages.each do |error| %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
    <% end %>

    <%= render 'field_fields_customer', f: f %>

    <%= link_to_add_fields "Dodaj Produkt", f, :product %>

    <%= f.submit class: "add_fields btn btn-success add-more"%>

<% end %>

