<%= f.fields_for :product do |product| %>
    <div class="form-group">
      <%= product.label :name_product %>
      <%= product.collection_select(:name, Product.all, :name, :name, {multiple: true}, {class: 'form-control'}) %>
      <%= product.label :price %>
      <%= product.text_field :price, class: 'form-control' %>
    </div>
    <%= render 'form_fields_category', f: product %>
<% end %>

