<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Zamowienie</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer.name %></td>
        <td><%= order.product.map(&:name).join(', ') %></br></td>
        <td><%= order.product_order.map(&:quantity).join(', ') %></td>
        <td><%= order.product.map(&:price).join(', ') %></td>
        <td>

      <%= order.total_price %>

        </td>



        <td> <%= link_to "Delete", order, method: :delete, class: 'btn btn-danger' %>
          <%= link_to "Edit", edit_order_path(order), class: 'btn btn-warning' %>

        </td>
      </tr>
  <% end %>
</table>

<%= link_to "New", new_order_path, class: 'btn btn-success' %>


