<%= f.fields_for :customer do |customer| %>
    <div class="form-group">
      <%= customer.label :name %>
      <%= customer.text_field :name, class: 'form-control' %>
    </div>


    <%= f.fields_for :product do |builder| %>
        <%= render 'product_fields', f: builder %>



    <% end %>
<% end %>



