<header class="navbar navbar-fixed-top navbar-inverse">

  <title><%= @title %></title>

  <div class="container">
    <%= link_to "App-li-cat-i-one", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Kategorie", categories_path  %></li>
        <li><%= link_to "Produkty", products_path %></li>
        <li><%= link_to "Customers", customers_path %></li>
        <li><%= link_to "Orders", orders_path %></li>

      </ul>

    </nav>

  </div>
</header>

<% flash.each do |key, value |%>
    <div class="container">
    <div class = "alert alert-<%= key %>"> <%= value %></div></div>
<% end %>

